<ion-header>
  <ion-toolbar>
    <ion-title>Trạng thái</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-img src="assets/img/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding">
        <h4 class="ion-text-center">Benlley Viet Nam. Vì sự thỏa mãn tuyệt đối của bạn</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row size="3">
      <ion-col class="ion-padding">
        <circle-progress [percent]="deviceStatus.R1" [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="3"
          [outerStrokeColor]="'#fff'" [toFixed]="1" [innerStrokeColor]="'#fff'" [animation]="true"
          [animationDuration]="300" units="&deg;C">
        </circle-progress>

        <h6 style="text-align: center;">Zone 1</h6>
      </ion-col>
      <ion-col class="ion-padding">
        <circle-progress [percent]="deviceStatus.R2" [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="3"
          [outerStrokeColor]="'#fff'" [toFixed]="1" [innerStrokeColor]="'#fff'" [animation]="true"
          [animationDuration]="300" units="&deg;C">
        </circle-progress>
        <h6 style="text-align: center;">Zone 2</h6>
      </ion-col>
      <ion-col class="ion-padding">
        <circle-progress [percent]="deviceStatus.R3" [showTitle]="deviceStatus&&(deviceStatus&&deviceStatus.R1!==210)"
          [units]="!deviceStatus||(deviceStatus&&deviceStatus.R1==210)?'ERR':'&deg;C'" [radius]="30"
          [outerStrokeWidth]="6" [innerStrokeWidth]="3" [outerStrokeColor]="'#fff'" [toFixed]="1"
          [innerStrokeColor]="'#fff'" [animation]="true" [animationDuration]="300" units="&deg;C">
        </circle-progress>
        <h6 style="text-align: center;">T3</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Điều khiển</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Switch Server</ion-label>
        <!-- <ion-toggle *ngIf="deviceStatus" [(ngModel)]="currentState.V1" (ionChange)="onControl()">
        </ion-toggle> -->
        <ion-button (click)="presentActionSheet()">
          {{deviceSetting.ST==1?'OFF':''}}
          {{deviceSetting.ST==2?'Auto':''}}
          {{deviceSetting.ST==3?'Timeframe & Forced':''}}
          {{deviceSetting.ST==4?'Forced':''}}
        </ion-button>
        <ion-text color="success">
          <h4 color="success" *ngIf="!deviceStatus">NA</h4>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Van By Pass</ion-label>
        <!-- <ion-toggle *ngIf="deviceStatus" [(ngModel)]="currentState.V2" (ionChange)="onControl()">
        </ion-toggle> -->
        <ion-button (click)="openValveByPass()">{{valveSetting.ST==1?'Mở':'Đóng'}}</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Bù nhiệt cưỡng bức</ion-label>
        <!-- <ion-toggle *ngIf="deviceStatus" [(ngModel)]="currentState.V2" (ionChange)="onControl()">
        </ion-toggle> -->
        <ion-button (click)="buNhietCuongBuc()">{{buNhietSetting.ST==1?'Mở':'Đóng'}}</ion-button>
      </ion-item>
    </ion-item-group>
    <!-- <ion-item-group>
      <ion-item-divider>
        <ion-label>Trạng thái đèn</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Đèn 1</ion-label>
        <ion-toggle *ngIf="deviceStatus" [(ngModel)]="currentState.L1" disabled>
        </ion-toggle>
        <ion-text color="success">
          <h4 color="success" *ngIf="!deviceStatus">NA</h4>
        </ion-text>

      </ion-item>

      <ion-item>
        <ion-label>Đèn 2</ion-label>
        <ion-toggle *ngIf="deviceStatus" disabled [(ngModel)]="currentState.L2">
        </ion-toggle>
        <ion-text color="success">
          <h4 color="success" *ngIf="!deviceStatus">NA</h4>
        </ion-text>

      </ion-item>
    </ion-item-group> -->
    <!-- <ion-item-group>
      <ion-item-divider>
        <ion-label>Nhiệt độ</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Nhiệt độ zone 1</ion-label>
        <ion-text color="success" *ngIf="deviceStatus&&deviceStatus.R1!=210">
          <h4>{{deviceStatus.R1+'&deg;C'}}</h4>
        </ion-text>
        <ion-text color="danger" *ngIf="!deviceStatus||(deviceStatus&&deviceStatus.R1==210)">
          <h4>NA</h4>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Nhiệt độ zone 2</ion-label>
        <ion-text color="success" *ngIf="deviceStatus&&deviceStatus.R2!=210">
          <h4>{{deviceStatus.R2+'&deg;C'}}</h4>
        </ion-text>
        <ion-text color="danger" *ngIf="!deviceStatus||(deviceStatus&&deviceStatus.R2==210)">
          <h4>NA</h4>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Nhiệt độ Heatpump</ion-label>
        <ion-text color="success" *ngIf="deviceStatus&&deviceStatus.R3!=210">
          <h4>{{deviceStatus.R3+'&deg;C'}}</h4>
        </ion-text>
        <ion-text color="danger" *ngIf="!deviceStatus||(deviceStatus&&deviceStatus.R3==210)">
          <h4>NA</h4>
        </ion-text>
      </ion-item>
    </ion-item-group> -->

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Mức nước</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Mức nước</ion-label>
        <ion-text color="success" *ngIf="deviceStatus&&deviceStatus.WL<=100">
          <h4>{{deviceStatus.WL+'%'}}</h4>
        </ion-text>
        <ion-text color="danger" *ngIf="!deviceStatus||(deviceStatus&&deviceStatus.WL>=100)">
          <h4>NA</h4>
        </ion-text>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>